<div class="form">
  <form [formGroup]="productForm">
    <div class="form-item">
      <label for="name">Nombre</label>
      <input formControlName="name" id="name" />
    </div>
    <div class="form-item">
      <label for="cost">Precio</label>
      <input formControlName="cost" id="cost" />
    </div>
    <div class="form-item">
      <select formControlName="option" id="option">
        <option value="1">Opción 1</option>
        <option value="2">Opción 2</option>
        <option value="3">Opción 3</option>
        <option value="4">Opción 4</option>
      </select>
    </div>
    <div class="form-item">
      <div class="button" (click)="createProduct()">CREAR</div>
    </div>
  </form>
</div>
